main{
    display: grid;
    grid-template-columns: 218px repeat(4,290px);
    grid-template-rows: auto;
    grid-template-areas: 
    "sidebar video video video video"
    "sidebar video video video video"
    ". video video video video";
}
main .sidebar{
    grid-area: sidebar;
}
main .videos-main{
    grid-area: video;
}